<%= form_for @note do |f|  %>
  <div class="container">
    <div class="row">
  <%= f.text_field :title, placeholder: ":title", id: "note-form-title-field", class: "note-form-fields" %>
    </div>
  </div>
  <div class="container">
    <div class="row">
  <%= f.text_area :body, placeholder: ":body", id: "note-form-body-field", class: "note-form-fields"  %>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>