<body class="body-notes">

  <div class="container" id="notes-index">
    <%= render 'layouts/notes_preview' %>
  </div>
  
  <div class="container">
    <%= will_paginate @notes %>
  </div>

</body>
