<% @browser_tab_title = 'My Notes'  %>
<% @browser_tab_subtitle = '- Notes' %>
<% @body_background_color = "body-notes" %>


<div class="container" id="notes-index">
  <%= render 'common/notes_preview' %>
  <% if @notes.empty? %>
    <%= content_tag :h2, link_to('Create your first note', new_note_path), id: "create-first-note-link" %>
  <% end %>
</div>

<div class="container">
  <%= will_paginate @notes %>
</div>

