<% @browser_tab_title = 'Search'  %>
<% @body_background_color = "body-notes" %>


<div class="container">
  <%= render 'common/search_window' %>
</div> 


<% if params[:query].present? %>
  
  <% if @notes.empty?  %>
    <p>I am empty</p>
  <% else %>
    <div class="container">
      <%= render 'common/notes_preview' %>
      <%= will_paginate @notes %>
    </div>
  <% end %>
<% end %>

