<body class="body-notes">
  <div class="container">
    <%= render 'layouts/search_window' %>
  </div> 


  <% if params[:query].present? %>
    
    <% if @notes.empty?  %>
      <p>I am empty</p>
    <% else %>
      <div class="container">
        <%= render 'layouts/notes_preview' %>
        <%= will_paginate @notes %>
      </div>
    <% end %>
  <% end %>

</body>
