<% @browser_tab_title = 'Search'  %>
<% @body_background_color = "body-notes" %>


<div class="container">
  <%= render 'common/search_window' %>
</div> 


<% if params[:query].present? %>
  
  <% if @notes.empty?  %>
    <div class="container" id="empty-search-results">
      <p>There are not any notes that match your search criteria.</p>  
      <p>Please try again.</p>
    </div>
  <% else %>
    <div class="container">
      <p class="search-results-count"><%= pluralize(@notes.count, 'result') %></p>
      <%= render 'common/notes_preview' %>
      <%= will_paginate @notes %>
    </div>
  <% end %>
<% end %>

