<% @browser_tab_title = 'Stacks' %>
<% @body_background_color = "body-black" %>

<!-- Visible at small, medium and large screen sizes; not extra-small -->
<div class="container hidden-xs">
  <div class="container" id="stack-show-top-container-non-mobile">
      <p class="stack-show-title-non-mobile">Stacks</p>
      <div class="stack-show-headlines-non-mobile">A note is associated with one or more learning stacks, not tags.</div>
      <div id="stack-show-description-non-mobile">  
        <p>Tags can get out of hand. The more tags there are, the more each tags' meaning gets diluted. The search feature will take care of all that extraneous tagging for you.  Our approach is different. It is grounded in 16 educationally designed learning stacks. These contexts will trigger you to think about what you are learning, couched in a long term view.    As such, your notes will remain relevant to you, and to the Ruby on Rails community at large, regardless of your level of seasoning or expertise.</p>
      </div>
  </div>
</div>


<!-- Visible at extra-small screen sizes only -->
<div class="container visible-xs">
  <div class="container" id="stack-show-top-container-mobile-only">
      <p class="stack-show-title-mobile-only">Stacks</p>
      <div class="stack-show-headlines-mobile-only">A note is associated with one or more learning stacks, not tags.</div> 
      <div class="stack-show-description-mobile-only">
        <p>Tags can get out of hand. The more tags there are, the more each tags' meaning gets diluted. The search feature will take care of all that extraneous tagging for you.  Our approach is different. It is grounded in 16 educationally designed learning stacks. These contexts will trigger you to think about what you are learning, couched in a long term view.    As such, your notes will remain relevant to you, and to the Ruby on Rails community at large, regardless of your level of seasoning or expertise.</p>
      </div>
  </div>
</div>


<!-- Visible at all sizes -->

<div class="container-fluid">

  <% stack_rows = @stacks.each_slice(4) %>
  <% stack_rows.each do |row| %>
      <div class="row">
      <% row.each do |stack| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="black-box">
            <p class="stack-titles"><%= link_to stack.title, stack %></p>
            <div class="stack-bodies">
              <div class="stack-headlines"><%= stack.headline %></div> 
              <div class="stack-descriptions"><%= truncate( (stack.description), length: 100 ) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
