<% @browser_tab_title = 'Welcome'  %>
<% @browser_tab_subtitle = '- About' %>
<% @body_background_color = "body-welcome-index" %>

<div class="container-fluid boxy">
    <div class="row welcome-rows welcome-row-1">
      <div class="container">
        <div class="col-sm-8 about-page-text">
          <h1>About Mind on Rails</h1>
          <br>
          <p>Mind on Rails is a knowledge exchange  note-taking tool.  It is a way to capture all of the multitudes of things that you learn through your journey with Ruby on Rails.  There is no way you are going to remember everything that you need to know.  But with Mind on Rails you can have them at your finger tips, so that you can feel comfortable that you do have those pieces of information in some kind of search accessible way, that is going to allow you to document it.  Share it with others.  Code samples.  Best practices.</p>  
          <p>The coding community is all about sharing information, helping others, open source.  And so we take information in from others, we give back.  We share our information too.  So this is a way for you to document all of the things that you need to know, personally, and things that you think that you want to share with others.  That can benefit them.  You can vote those up and down and start to help build these curated lists for you now, for others, and for your future self.</p>  
          <p>Tags can get out of hand.  They can replicate like gremlins.  The search feature will take care of all that extraneous tagging for you.  The more there are, the more their collective meanings get diluted.  This is about curating.  Ways to approach things.  Ways to think about what you learn, that will benefit both your current and future self.  Stacks that will remain relevant, regardless of your level of seasoning or expertise.  
          </p>
          <br>
          <h4>created by Harry Levine</h4>
        </div> 
    </div>
  </div>
</div>
