<% @browser_tab_title = 'Welcome'  %>
<% @browser_tab_subtitle = '- About' %>
<% @body_background_color = "body-welcome-index" %>

<div class="container-fluid boxy">
    <div class="row welcome-rows welcome-row-1">
      <div class="container">
        <div class="col-sm-8 about-page-text">
          <h1>About Mind on Rails</h1>
          <br>
          <h4>Mind on Rails empowers you to capture all of the things that need to be learned in order to create web applications with Ruby on Rails, and does so in a manner that is conducive to learning and accessing these morsels of knowledge at anytime.  It enables you to become memory independent.</h4>
          <br>
          <h4>created by Harry Levine</h4>
        </div> 
    </div>
  </div>
</div>
