
<div class="container-fluid boxy">

  <div class="container">
  
    <h1 class="welcome-title">You learn so much in Ruby on Rails.  We will remember it for you.  
    </h1>

    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>

    <!-- <%= image_tag "headphones.jpg", :width => 400 %> -->

    

  </div> 
</div>
