@import "bootstrap-sprockets";
@import "bootstrap";
@import "pygments";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// darkest black  121314
// lighter black  222326
// gray font   949599
// thin gray border   393B40
// nav bar active state gray  2E2F33


// LAYOUT views
.navbar {
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #222326;
  border-color: #222326;
  border-bottom: 1px solid #393B40;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #949599;  //949599
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #2E2F33;
}




// WELCOME views
#body-welcome-index {
  // background-image: image-url("congruent_outline.png");
  background-color: #121314;
}

#body-welcome-index > .navbar {
  margin-bottom: 0px;
}

.welcome-rows {
  height: 45em;
}

#welcome-row-2 {
  // background-image: image-url("computer_mouse1.png");
  background-size: cover;
  background-color: white;
}

#welcome-row-1 {
  // background-image: image-url("coding-curr.png");
  background-color: #F1F2F2;
  background-size: cover;

}

#welcome-row-3 {
  background-color: #121314;
}
.welcome-title {
  padding: 8% 0;
  text-align: center;
}

.boxy {
  // background-image: image-url("congruent_outline.png");
  color: #313742;
}




// STACKS views
.body-black {
  background: rgb(18,19,20);
}

.stack-titles {
  color: rgb(168,124,246);
  text-transform: capitalize;
  padding-top: 5%;
  font-size: 20px;
}

.stack-descriptions {
  padding: 0 5% 5%;
  margin: auto 0;
}

.stack-show-title {
  color: rgb(168,124,246);
  text-transform: capitalize;
  font-size: 20px;
}

.stack-show-description {
  color: white;
}

#stacks-form {
  margin-left: 5%;
}

#stacks-form label  {
  font-weight: normal;
  color: #a87cf6;  // purple #a87cf6 ; gray #666
  font-family: Courier New, serif;
  
}

#stacks-form p {
color: #949599;  //new gray font #949599  old gray #b7b7b7
margin-left: -8%;
font-size: 16px;
}

.black-box {
  // border: 1px solid purple;
  color: #949599;  // new gray #949599  old gray rgb(102,102,102)
  background: #222326;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
  padding: 5% 0;
  border-radius: 3px;
}

.black-box a {
  color: #a87cf6;
  // font-weight: normal;
}



// NOTES views
.body-notes {
  background: #121314;  //sublime gray rgb(70,70,67)
  padding-bottom: 70px;
}

.sublime-gray {
  background: #222326;
  padding: 5%;
}

.note-form-fields {
  // width: 100%;
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: #777;  //old gray #777  thin border gray #393B40  new gray font #949599
}

#note-form-title-field {
  // border-bottom: 1px solid white;
}

#note-form-body-field {
  height: 100%;
}

.form-control::-webkit-input-placeholder {
   color: #a87cf6;
  font-family: Courier New, serif;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.form-control:-ms-input-placeholder {  
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.note-previews {
  margin-bottom: 5px;
  color: white;
}

.notes_stacks {
  color: #a87cf6;
}

.notes-show-LRpadding {
  padding-left: 15px;
  padding-right: 15px;
}

.note-show-dates {
  color: rgb(102,102,102);
}

.note-show-title, .note-show-body {
  color: white;
}

.note-show-title {
  font-size: 18px;
}

.note-show-body {
  padding-bottom: 20px;
}

#bottom-navbar {
  border-bottom: 0px solid rgb(39,40,34);
  border-top: 1px solid #393B40;
}

.note-bottom-nav-buttons {
  border: 0px solid rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: #949599;
  padding: 15px 20px;
}

#note-save-button {
  color: rgb(166,226,45);

}

#note-save-button:hover, .note-bottom-nav-buttons:hover {
  color: white;
}

.help-inline {
  color: red;
}

.note-form-columns {
  // border: 1px solid purple;
  background: #222326;
  margin-bottom: 20px;
  min-height: 540px;
  padding: 20px 40px 15px;  //this narrows or widens them width of the title and body input fields.  Works with .note-padding's padding
  width: auto;
}

.note-padding {
  // border: 1px solid red;
  padding: 0 5px;  //this narrows or widens them width of the title and body input fields.  Works with .note-form-column's padding
}

pre {
  background-color: black;
  border: 1px solid #393B40;
}

