$state-danger-text: white;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pygments";
@import url(https://fonts.googleapis.com/css?family=Oxygen:300|Open+Sans:400,300,700);

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// darkest black  121314
// lighter black  222326
// gray font   949599
// thin gray border   393B40
// nav bar active state gray  2E2F33
// search green  A6E22D
// public dark pink  F92772
$note_font_color: #D7D7D7;    //D7D7D7   C5C8C6  F8F8F2
$flash_card_font_color: #E6DB74;
$search_button_green: #A6E22D;



// COMMON views

html body {
  background-color: #121314;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  font-size: 16px;
  line-height: 150%;
  // letter-spacing: .9px;
}
.navbar {
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #222326;
  border-color: #222326;
  border-bottom: 1px solid #393B40;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #949599;  //949599
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #2E2F33;
}

.alert, #error_explanation {
  border: 3px solid rgba(255,255,255,.7);
  border-radius: 6px;
  background-color: rgba(255,255,255,0);
  color: white;
  margin: 15px 0;
  max-width: 410px;
}

.alert-success, .alert-warning, #error_explanation {
  font-size: 25px;
}

#error_explanation {
  padding: 0px 20px 5px;
}

#error_explanation h2, #error_explanation h3 {
  font-size: 18px;
}

#error_explanation li {
  font-size: 14px;
}

button.close {
  text-shadow: 0 0px rgba(0,0,0,0);
  color: #AEDEF4;
  opacity: 1;
  font-size: 31px;
}

button.close:hover {
  color: white;
}

#search-window {
  margin: 5% 0 10%;
}

.search-button input {
  border: 0px solid white;
  background-color: rgba(0,0,0,0);
  padding: 0;
}

.search-button {
  background-color: $search_button_green; 
  color: #222326;
  border-color: $search_button_green;
}

.search-button:hover {
  background-color: rgb(187,255,51);
  color: #121314;
  border-color: rgb(187,255,51);
}

.glyphicon-font-color {
  color: #949599;  
}

button .glyphicon-font-color {
  color: #222326;
  font-size: 22px;   
}

@media all and (min-width: 768px) {
   button .glyphicon-search {
    padding: 0 10px;
  }
}

@media all and (max-width: 767px) {
   .note-preview-container {
    padding: 0 15px;
  }

}


.sign-in-checkbox .checkbox, .user-sign-in-up-edit, , #stack-edit-form label, .user-sign-in-up-edit label, i {
  color: #949599;
}

.sign-in-titles {
  color: white;
}



// WELCOME views
.body-welcome-index {
  // background-image: image-url("congruent_outline.png");
  background-color: #121314;
}

.body-welcome-index  .navbar {
  margin-bottom: 0px;
}

.welcome-rows {
  height: 45em;
}

#welcome-row-2 {
  // background-image: image-url("computer_mouse1.png");
  background-size: cover;
  background-color: white;
}

.welcome-row-1 {
  // background-image: image-url("coding-curr.png");
  background-color: #F1F2F2;
  background-size: cover;
}

#welcome-row-3 {
  background-color: #121314;
}
.welcome-title {
  padding: 8% 0;
  text-align: center;
}

.boxy {
  // background-image: image-url("congruent_outline.png");
  color: #313742;
}

.about-page-text {
  padding: 15px 0;
}




// STACKS views
.body-black {
  background: rgb(18,19,20);
}

.stack-titles {
  color: rgb(168,124,246);
  text-transform: capitalize;
  letter-spacing: 1.1px;
  padding-top: 5%;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  // font-family: Courier New, serif;
}

.stack-titles a {
  color: $search_button_green;
  text-decoration: none;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out; 
}


.stack-titles a:hover {
  color: $search_button_green;
  text-decoration: none;
}

.stack-bodies {
  padding: 7px 5% 0;
  margin: auto 0;
  text-align: left;
  // font-size: 14px; 
}

.stack-headlines {
  font-size: 16px;
  color: white;
  padding-right: 7px;
}

.stack-descriptions {
  // padding: 0 5% 5%;
  // margin: auto 0;
  // text-align: left;
  font-size: 14px; 
  color: #949599;
}

//Non-mobile views for stack show page - start
#stack-show-top-container-non-mobile{
  padding: 15px 42px 0;
  margin: 35px 0 80px;
}

.stack-show-title-non-mobile {
  color: rgb(168,124,246);
  font-size: 3em;  //48px
  text-align: center;
  font-family: Courier New, serif;
  padding-bottom: 25px;
}

#stack-show-description-non-mobile {
  font-size: 18px;
  color: #949599;
}

.stack-show-headlines-non-mobile {
  font-size: 22px;
  color: white;
  padding-right: 7px;
}
//end

//Mobile only views for stack show page - start
#stack-show-top-container-mobile-only{
  padding: 15px 5px 0;
  margin: 15px 0 30px;
}

.stack-show-title-mobile-only {
  color: rgb(168,124,246);
  font-size: 28px;
  text-align: center;
  font-family: Courier New, serif;
  padding-bottom: 15px;
}

.stack-show-description-mobile-only {
  font-size: 18px;
  color: #949599;
}

.stack-show-headlines-mobile-only {
  font-size: 20px;
  color: white;
  padding-right: 7px;
}
//end


#stacks-form {
  margin-left: 5%;
}

#stacks-form label  {
  font-weight: normal;
  color: #a87cf6;  // purple #a87cf6 ; gray #666
  font-family: Courier New, serif;
  
}

#stacks-form p {
color: #949599;  //new gray font #949599  old gray #b7b7b7
margin-left: -8%;
font-size: 14px;
}

.black-box {
  // border: 1px solid purple;
  color: #949599;  // new gray #949599  old gray rgb(102,102,102)
  background: #222326;
  margin-bottom: 20px;
  min-height: 290px;
  // text-align: center;
  padding: 4% 0;
  border-radius: 3px;
}

.black-box a {
  color: #a87cf6;
  // font-weight: normal;
}






// NOTES views
.body-notes {
  background: #121314;  //sublime gray rgb(70,70,67)
  padding-bottom: 70px;
}

.body-notes label {
  font-weight: normal;
}

.sublime-gray {
  background: #222326;
  padding: 5%;
}

.note-form-fields {
  // width: 100%;
  background-color: rgba(0,0,0,0);
  color: $note_font_color;
  border-color: #777;  //old gray #777  thin border gray #393B40  new gray font #949599
}

#note-form-title-field {
  // border-bottom: 1px solid white;
}

#note-form-body-field {
  height: 100%;
}

.placeholder-text .form-control::-webkit-input-placeholder {
   color: #a87cf6;
  font-family: Courier New, serif;
}

.placeholder-text .form-control:-moz-placeholder { /* Firefox 18- */
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.placeholder-text .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.placeholder-text .form-control:-ms-input-placeholder {  
   color: #a87cf6;  
   font-family: Courier New, serif;
}

.note-previews {
  margin-bottom: 17px;
  color: white;
  // border-radius: 3px;
}

.notes_stacks {
  color: #a87cf6;
}

.notes_stacks, .note-preview-username, .note-show-dates {
  font-size: 12px;
} 

.notes-head-TBpadding {
  margin-bottom: 0px;
}

#notes-show-horizontal-ruler {
  margin-top: 0px;
}

.notes-show-LRpadding {
  padding-left: 15px;
  padding-right: 15px;
}

.note-show-dates {
  color: rgb(102,102,102);
}

.note-show-title, .note-show-body {
  color: $note_font_color;
}

.note-show-body strong {
  color: rgb(252,252,252);
}

.note-show-title {
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
  // font-weight: lighter;
  letter-spacing: 1px;
}

.note-show-body {
  padding-bottom: 20px;
}

.note-show-body a {
  color: #66D9EF;
}

.note-show-body a:hover {
  text-decoration: none;
  color: $search_button_green;
}

#bottom-navbar {
  border-bottom: 0px solid rgb(39,40,34);
  border-top: 1px solid #393B40;
}

.note-bottom-nav-buttons {
  border: 0px solid rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  padding: 15px 20px;
}

#note-bottom-cancel-button {
  color: white;
  padding: 15px 20px;
}

#note-bottom-cancel-button:hover {
  background-color: rgba(0,0,0,0);
  color: $search_button_green;
}

#note-save-button {
  color: rgb(166,226,45);

}

#note-save-button:hover {
  color: white;
}

.help-inline {
  color: red;
}

.note-form-columns {
  // border: 1px solid purple;
  background: #222326;
  margin-bottom: 20px;
  min-height: 568px;
  padding: 20px 40px 15px;  //this narrows or widens them width of the title and body input fields.  Works with .note-padding's padding
  width: auto;
}

.note-padding {
  // border: 1px solid red;
  padding: 0 5px;  //this narrows or widens them width of the title and body input fields.  Works with .note-form-column's padding
}

pre {
  background-color: black;
  border: 1px solid black;  // was #393B40
}

li .navbar-form {
  margin: 0;
}

#visible-to-public-checkbox {
  padding-left: 9%;
}

.radio, .checkbox  {
  margin-top: 15px;
}

.public-note-indicator {
  color: $search_button_green; 
}

.private-note-indicator {
  color: #F92772;
}

//Create a note - public note checkbox
.checkbox {
  color: #F92772;
}

.note-preview-body {
  color: #949599;
}

.note-preview-username {
  color: $note_font_color;
}

.note-preview-title-links a {
  font-size: 19px;
}

#note-show-edit-delete-links a {
  text-transform: uppercase;
}

.form-control {
  font-size: 16px;
}

.note-preview-title-links a, .pagination a, #note-show-edit-delete-links a, .user-sign-in-up-edit a, .note-preview-voting-arrows a {
  color: white;
}

.note-preview-title-links a:hover, #note-show-edit-delete-links a:hover, .pagination a:hover, .user-sign-in-up-edit a:hover, .note-preview-voting-arrows a:hover {
  color: $search_button_green;
  text-decoration: none; 
}

#markdown-disclaimer {
  color: #949599;
  text-align: right;
  font-size: 12px;
}

#markdown-disclaimer a, #create-first-note-link a {
  color: white;
  text-decoration: none;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out; 
}

#markdown-disclaimer a:hover, #create-first-note-link a:hover {
  color: $search_button_green;
}

.note-preview-voting-arrows {
  padding-left: 2px;
  font-size: 12px;
}

#vote-points {
  padding: 0 3px;
  color: $note_font_color;
}

.vote-arrows-padding {
  padding-right: 85px;
}

.note-points-guest-view {
  font-size: 12px;
  color: $note_font_color;
}

#form-flash-card-label label, .note-flash-card-indicator {
  color: $flash_card_font_color;
}

#create-first-note-link {
  text-align: center;
  padding-top: 100px;
  color: white;
  font-size: 25px;
}

#empty-search-results {
  color: $note_font_color;
  font-size: 18px;
  text-align: center;
}

.search-results-count {
  color: #949599;
  padding: 0 0 10px 20px;
  font-size: 12px;
}




// #notes-index {
//   max-height: 45em;
//   overflow-y: auto;
//   overflow-x: hidden;
// }


// SCROLL BAR HIGHLIGHTING OPTIONS
// #notes-index::-webkit-scrollbar-track {
//     scrollbar-track-color: black;
//     border-radius: 5px;
// }

// ::-webkit-scrollbar {
//       width: 10px;
// }
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-radius: 10px;
// } /* the new scrollbar will have a flat appearance with the set background color */
 
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #2E2F33;
//     // -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);
// } /* this will style the thumb, ignoring the track */

// ::-webkit-scrollbar-thumb:hover {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
// }
 
// ::-webkit-scrollbar-thumb:window-inactive {
//    /* Select the thumb when the browser window isn't in focus */
// }
// ::-webkit-scrollbar-button:horizontal:decrement:hover {
//    /* Select the down or left scroll button when it's being hovered by the mouse */
// }