<% @notes.each do |note| %>
  <div class="container sublime-gray note-previews">
    <div class="row">
      <div>
        <p>
          <%= note.title %>
        <p class="notes_stacks">
          <% notes_stacks = note.stacks %>
          <% notes_stacks.each do |stack| %>
            <%= stack.title %>
          <% end %>
        </p>
        </p>
        <p>
          <%= markdown(truncate( (note.body), length: 150, escape: false )) %>
          <%= link_to 'View', note %>
        </p>
      </div>      
    </div>
  </div>
<% end %>